.box_recuperacao {
    margin-top: 300px;
    max-width: 50%;
    max-height: 40%;
}

.box_recuperacao b {
    font-size: 270%;
    color: rgb(49, 49, 49);
}

.form_recuperacao_senha {
    padding-top: 60px;
}

.form_recuperacao_senha input[type="button"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #1d649e;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.form_recuperacao_senha input[type="email"] {
    width: 25%;
    height: 35px;
    border-radius: 10px;
    border-left: white;
    border-top: white;
    text-align: center;
}

