*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

.title h1{
    margin: 0;
    margin-bottom: 50px;
    font-size: 270%;
    color: white;
    letter-spacing: 2px;
}

.title img {
    height: 150px;
    width: 150px;
}

.contact_box{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  padding: 0 20px;
}

.contact-form{
  display: flex;
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.input_campos{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.input_campos, .msg{
  width: 48%;
}

.input_campos .input, .msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #fff;
  width: 100%;
  font-size: 105%;
  font-family: sans-serif;
}

.msg textarea{
  height: 212px;
}

::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
:-ms-input-placeholder {
  color: #fff;
}

.btn {
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
  .contact-form{
    flex-direction: column;
  }
  .msg textarea{
    height: 80px;
  }
  .input-fields, .msg{
    width: 100%;
  }
}
